---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
    <h2>This is the git module</h2>
  </main>
</Layout>
