---
import Layout from '../layouts/Layout.astro';
import VideoGridSection from '@components/VideoGridSection.astro';
import CourseMaterialCarousel from '@components/CourseMaterialCarousel.astro';
---
<Layout title="H4Sci">
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<CourseMaterialCarousel/>
		<VideoGridSection/>
	</main>
</Layout>
