---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import CourseScheduleSection from '@components/CourseScheduleSection.astro';
import BookSection from '@components/BookSection.astro';
---

<Layout title="H4Sci">
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<HeroSection/>
		<BookSection />
		<CourseScheduleSection />
	</main>
</Layout>