---
import Container from "./Container.astro";
---
<header>    
    <!-- styling start - underline when hovering - currently only underlined when clicking, not when hovering?-->
    <style>
        a:hover {
  text-decoration: underline;
}
    </style>
    <!-- styling end -->
    <nav class="absolute z-50 w-full bg-gray-900 dark:lg:bg-transparent">
        <Container>
                    <!-- 2 grid start -->
                    <div class="mt-12 grid sm:grid-cols-3 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
                        <div>
                        </div>
                        <div class="space-y-3">
                            <h2 class="text-gray-100 dark:text-white text-xl font-semibold">Links</h2>
                            <p class="text-gray-400 dark:text-gray-400"> <a href="https://github.com/h4sci/"> Github Org</a></p>
                            <p class="text-gray-400 dark:text-gray-400"> <a href="https://rse-book.github.io"> RSE Book</a></p>
                            <p class="text-gray-400 dark:text-gray-400"> <a href="https://kof.ethz.ch/en/the-institute/kof-divisions/research-division-kof-lab/rseed.html">RSEED at KOF Lab ETH Zurich</a></p>
                            <p class="text-gray-400 dark:text-gray-400"> <a href="https://zurich-r-user-group.github.io/">Zurich R User Group</a></p>
                            <p class="text-gray-400 dark:text-gray-400"> <a href="https://rseed.ch/h4sci.html">H4Sci Course Announcement</a></p>
                            <p class="text-gray-400 dark:text-gray-400"> <a href="https://www.vvz.ethz.ch/Vorlesungsverzeichnis/lerneinheit.view?lerneinheitId=192666&semkez=2025W&ansicht=LEHRVERANSTALTUNGEN&lang=de"> ETH Course Catalogue</a></p>
                            <p class="text-gray-400 dark:text-gray-400"> <a href="https://ethz.ch/en/the-eth-zurich/education/innovation/kite-award/kite-award-2022/nominierte-projekte-kite-award-2022/hacking-for-social-sciences.html"> 2022 KITE Award Nomination</a></p>
                            
                            
                        </div>
                        <div class="space-y-3">
                            <h2 class="text-gray-100 dark:text-white text-xl font-semibold"> RSEED at KOF Lab </h2>
                            <p class="text-gray-400 dark:text-gray-400"> Dr. Matthias Bannert</p>
                            <p class="text-gray-400 dark:text-gray-400"> KOF Swiss Economic Institute</p>
                            <p class="text-gray-400 dark:text-gray-400"> Leonhardstrasse 21</p>
                            <p class="text-gray-400 dark:text-gray-400"> 8092 Zurich</p>
                            <h2 class="text-gray-100 dark:text-white text-xl font-semibold"> Contact</h2>
                            <p class="text-gray-400 dark:text-gray-400"> Minna Heim</p>
                            <p class="text-gray-400 dark:text-gray-400"> heim [at] kof.ethz.ch</p>
                        </div>
                    </div>
                    <!-- 2 grid end -->
                     <br></br>
                    <!-- is there a better way to add padding here? its the same top and bottom coincidentally, but should be done soemwhere-->

        </Container>
    </nav>
</header>
