---
import BrandLogo from "./BrandLogo.astro";
import Container from "./Container.astro";
import DarkModeButton from "./DarkModeButton.astro";
import { Astronav, MenuItems, MenuIcon} from "astro-navbar";

const menuitems = [
{
    title: "Videos",
    path: "/h4sci-videos",
  },
  {
    title: "Guest Lecture",
    path: "/talk",
  },
];

---
<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <BrandLogo />
        <div class="block lg:hidden">
          <MenuIcon class="w-5 h-5 text-gray-800 dark:text-gray-400" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 dark:text-gray-400 hover:text-gray-900">
                      <span> {item.title}</span>

                    </a>
                  </li>
                }
              </>
            ))
          }
        </ul>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <DarkModeButton />
      </div>
    </div>
  </header>
</Container>
