---
import BrandLogo from "./BrandLogo.astro";
import Container from "./Container.astro";
import { Icon } from "astro-icon/components";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const links = [
  {
    to: "/git-module",
    label: "Git Module",
  },
  {
    to: "/guest-lecture",
    label: "Guest Lecture",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <BrandLogo />
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            links.map((item, index) => (
              <>
                {
                  <li>
                    <a
                      href={item.to}
                      class="flex lg:px-3 py-2 items-center text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-500 font-normal text-base tracking-wide transition-colors duration-200"
                    >
                      <span> {item.label}</span>
                    </a>
                  </li>
                }
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="https://github.com/h4sci"
          ><Icon class="text-black" name="simple-icons:github" /></a
        >
      </div>
    </div>
  </header>
</Container>
