<a href="/" aria-label="h4sci">
  <!-- Light mode logo -->
  <img
    src="h4sci-logo-web-light.svg"
    width="100"
    alt="h4sci logo"
    class="block dark:hidden"
  />
  <!-- Dark mode logo -->
  <img
    src="h4sci-logo-web-dark.svg"
    width="100"
    alt="h4sci logo"
    class="hidden dark:block"
  />
</a>
