<a href="/" aria-label="h4sci">
  <!-- dark theme logo -->
  <img src="/h4sci-logo-web-dark.svg" width="100" class="hidden dark:block" />
  <!-- light theme logo -->
  <img src="/h4sci-logo-web-light.svg" width="100" class="block dark:hidden" />
</a>
