---
const { eventDate, eventLink, announce, badgeCta } = Astro.props;
---

<a href={eventLink} target="_blank" class="block transition-transform">
  <svg
    height="180px"
    width="180px"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 511.999 511.999"
    xml:space="preserve"
    class="drop-shadow-lg"
  >
    <path
      class="fill-primary-600 dark:fill-primary-500"
      d="M505.454,239.82l-47.748-49.357l9.616-67.995c1.758-12.431-6.659-24.016-19.023-26.183L380.658,84.42
      l-32.186-60.663c-5.88-11.089-19.496-15.515-30.779-10.001L256,43.914l-61.694-30.16c-2.821-1.378-5.787-2.135-8.743-2.323
      c-0.739-0.047-1.477-0.057-2.212-0.034c-1.359,0.043-2.706,0.22-4.029,0.496c-0.261,0.054-0.518,0.118-0.776,0.182
      c-6.226,1.528-11.792,5.592-15.02,11.681L131.34,84.418L63.699,96.283c-1.545,0.272-3.029,0.689-4.439,1.238
      c-0.704,0.275-1.392,0.582-2.059,0.918c-2.666,1.35-5.013,3.187-6.941,5.379c-1.93,2.192-3.443,4.738-4.44,7.505
      c-0.5,1.382-0.87,2.821-1.1,4.298c-0.344,2.214-0.372,4.516-0.043,6.847l9.616,67.995l-23.875,24.678L6.545,239.82
      c-8.727,9.022-8.727,23.341,0,32.362l46.243,47.799l1.507,1.556l-9.616,68c-0.329,2.33-0.301,4.63,0.043,6.845
      c0.194,1.249,0.51,2.462,0.9,3.646c0.99,3.015,2.563,5.793,4.641,8.153c0.483,0.548,0.991,1.074,1.524,1.575
      c0.692,0.65,1.438,1.243,2.208,1.808c0.633,0.464,1.292,0.894,1.974,1.294c1.049,0.614,2.14,1.171,3.294,1.62
      c0.704,0.275,1.429,0.517,2.169,0.723c0.74,0.208,1.497,0.379,2.27,0.515l67.641,11.864l32.186,60.664
      c0.735,1.387,1.592,2.669,2.549,3.84c3.829,4.686,9.277,7.604,15.085,8.344c1.452,0.185,2.926,0.234,4.403,0.14
      c0.739-0.047,1.479-0.129,2.216-0.248c1.475-0.237,2.943-0.621,4.386-1.156c0.721-0.268,1.435-0.573,2.14-0.919L256,468.088
      l61.694,30.158c3.286,1.606,6.771,2.368,10.204,2.368c8.352,0,16.406-4.51,20.575-12.37l32.186-60.664l67.641-11.864
      c12.364-2.167,20.781-13.751,19.023-26.179l-9.616-68l47.748-49.357C514.181,263.159,514.181,248.842,505.454,239.82z"
    ></path>
    <circle
      cx="256"
      cy="256"
      r="180"
      class="stroke-white dark:stroke-gray-100"
      stroke-width="3"
      fill="none"></circle>
    <circle
      cx="256"
      cy="256"
      r="190"
      class="stroke-white dark:stroke-gray-100"
      stroke-width="8"
      fill="none"></circle>

    <text
      x="50%"
      y="40%"
      text-anchor="middle"
      class="fill-white font-semibold text-[32px] tracking-wide"
      dy=".01em"
      transform="rotate(25, 255, 260)"
    >
      {announce}
    </text>
    <text
      x="50%"
      y="50%"
      text-anchor="middle"
      class="fill-white font-bold text-[58px]"
      dy=".3em"
      transform="rotate(25, 255, 260)"
    >
      {eventDate}
    </text>
    <text
      x="50%"
      y="60%"
      text-anchor="middle"
      class="fill-white font-semibold text-[32px] tracking-wide"
      dy=".4em"
      transform="rotate(25, 255, 260)"
    >
      {badgeCta}
    </text>
  </svg>
</a>
