---
import { cn } from "@lib/utils"
import Container from "./Container.astro"
import {button} from "@tailus/themer-button"
import Frame from "./Frame.astro"
---

<section class="relative overflow-hidden scroll-mt-24" id="home">  
    <div
        aria-hidden
        class="opacity-0 dark:opacity-25 absolute [background-image:radial-gradient(theme(colors.gray.500),transparent_50%)] top-0 w-[1000px] z-10 h-[800px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
      />
    <Container>
        <div class="relative pt-32 sm:pt-44 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-4xl sm:text-5xl md:text-6xl">A Guide to the Open Source Ecosystem </h1>
                <p class="max-w-xl mx-auto mt-8 text-gray-700 dark:text-gray-300">
                   Hacking for Science is a course project created to <b>teach programming with data</b> to non-computer science <b>researchers</b> and <b>business analysts</b>.
                    The course prioritizes <b>coaching individuals</b> to leverage the open source ecosystem for their needs over teaching fixed goals.</p>
                <div class="py-8 mt-16 gap-4 border-y dark:border-gray-800 flex-wrap flex justify-between">
                    <div class="text-left">
                      <!-- svg start  -->
                      <img src="../../public/by-nc-sa.svg" width="75" height="75"></img>
                      <!-- svg end -->
                      <h2 class="my-2 text-base font-semibold text-gray-700 dark:text-white">Free Online Material</h2>
                        <p class="text-gray-600 dark:text-gray-400 text-sm">Slides and book available</p>
                        <p class="text-gray-600 dark:text-gray-400 text-sm">from Github under</p>
                        <p class="text-gray-600 dark:text-gray-400 text-sm">CC BY-NC-SA 4.0 license.</p>
                        
                    </div>
                    <div class="text-left">
                      <!-- TODO: insert interactive/online/ logo -->
                      <img src="../../public/interaction.svg" width="26"></img>
                        <h2 class="my-2 text-base font-semibold text-gray-700 dark:text-white">Highly Interactive</h2>
                        <p class="text-gray-600 dark:text-gray-400 text-sm">PhD-level course,</p>
                        <p class="text-gray-600 dark:text-gray-400 text-sm">taught online at ETH Zurich.</p>
                        <p class="text-gray-600 dark:text-gray-400 text-sm">Open to guests.</p>
                    </div>
                    <div class="text-left">
                      <!-- teamwork svg button -->
                      <img src="../../public/teamwork.svg" width="26"></img>
                        <h2 class="my-2 text-base font-semibold text-gray-700 dark:text-white">Teamwork</h2>
                        <p class="text-gray-600 dark:text-gray-400 text-sm">Group projects from</p>
                        <p class="text-gray-600 dark:text-gray-400 text-sm">dashboards to OSS </p>
                        <p class="text-gray-600 dark:text-gray-400 text-sm">software packages.</p>
                    </div>
                </div>
                <div class="mx-12 mt-12 flex flex-wrap justify-center" >
                                <!-- button start -->
                                <a href="https://www.vorlesungen.ethz.ch/Vorlesungsverzeichnis/lerneinheit.view?semkez=2024W&ansicht=KATALOGDATEN&lerneinheitId=181821&lang=en" target="_blank" class={cn(button.primary.lg, "relative z-[1]")}>
                                  ETH Course Catalogue
                                </a>
                                <!-- button end -->
                              </div>
            </div>
        </div>
    </Container>
</section>