---
import { cn } from "@lib/utils";
import Container from "./Container.astro";
import {progress} from "@tailus/themer-progress"
---

<section>
    <Container>
        <div class="text-center">
            <h2 class="text-3xl text-gray-950 dark:text-white font-semibold md:text-4xl">Block 1 - Getting Started</h2>
            <p class="mt-4 text-gray-600 dark:text-gray-400"></p>
        </div>
        <!-- leave the card -->
        <div class="m-12 max-w-3xl w-full mx-auto">
                    <!-- table start -->
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Session
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Time
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        The Big Picture 
                                    </th>
                                    <td class="px-6 py-4">
                                        Thursday, September 24
                                    </td>
                                    <td class="px-6 py-4">
                                        10h00 - 13h00
                                    </td>
                                    <td class="px-6 py-4">
                                    
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        Git & Workflow
                                    </th>
                                    <td class="px-6 py-4">
                                        Friday, September 25
                                    </td>
                                    <td class="px-6 py-4">
                                       10h00 - 13h00
                                    </td>
                                    <td class="px-6 py-4">
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- table end -->
            </div>
            <div class="text-center">
                <h2 class="text-3xl text-gray-950 dark:text-white font-semibold md:text-4xl">Block 2 - Programming 101</h2>
                <p class="mt-4 text-gray-600 dark:text-gray-400"></p>
            </div>
            <!-- leave the card -->
            <div class="m-12 max-w-3xl w-full mx-auto">
                        <!-- table start -->
                        <div class="relative overflow-x-auto">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Session
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Time
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            The Big Picture 
                                        </th>
                                        <td class="px-6 py-4">
                                            Thursday, September 24
                                        </td>
                                        <td class="px-6 py-4">
                                            10h00 - 13h00
                                        </td>
                                        <td class="px-6 py-4">
                                        
                                        </td>
                                    </tr>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            Git & Workflow
                                        </th>
                                        <td class="px-6 py-4">
                                            Friday, September 25
                                        </td>
                                        <td class="px-6 py-4">
                                           10h00 - 13h00
                                        </td>
                                        <td class="px-6 py-4">
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- table end -->
                </div>
                <div class="text-center">
                    <h2 class="text-3xl text-gray-950 dark:text-white font-semibold md:text-4xl">Block 3 - Infrastructure</h2>
                    <p class="mt-4 text-gray-600 dark:text-gray-400"></p>
                </div>
                <!-- leave the card -->
                <div class="m-12 max-w-3xl w-full mx-auto">
                            <!-- table start -->
                            <div class="relative overflow-x-auto">
                                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                Session
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Time
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                The Big Picture 
                                            </th>
                                            <td class="px-6 py-4">
                                                Thursday, September 24
                                            </td>
                                            <td class="px-6 py-4">
                                                10h00 - 13h00
                                            </td>
                                            <td class="px-6 py-4">
                                            
                                            </td>
                                        </tr>
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                Git & Workflow
                                            </th>
                                            <td class="px-6 py-4">
                                                Friday, September 25
                                            </td>
                                            <td class="px-6 py-4">
                                               10h00 - 13h00
                                            </td>
                                            <td class="px-6 py-4">
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- table end -->
                    </div>
                    <div class="text-center">
                        <h2 class="text-3xl text-gray-950 dark:text-white font-semibold md:text-4xl">Block 4 - Finishing Up</h2>
                        <p class="mt-4 text-gray-600 dark:text-gray-400"></p>
                    </div>
                    <!-- leave the card -->
                    <div class="m-12 max-w-3xl w-full mx-auto">
                                <!-- table start -->
                                <div class="relative overflow-x-auto">
                                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                            <tr>
                                                <th scope="col" class="px-6 py-3">
                                                    Session
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Time
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                    The Big Picture 
                                                </th>
                                                <td class="px-6 py-4">
                                                    Thursday, September 24
                                                </td>
                                                <td class="px-6 py-4">
                                                    10h00 - 13h00
                                                </td>
                                                <td class="px-6 py-4">
                                                
                                                </td>
                                            </tr>
                                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                    Git & Workflow
                                                </th>
                                                <td class="px-6 py-4">
                                                    Friday, September 25
                                                </td>
                                                <td class="px-6 py-4">
                                                   10h00 - 13h00
                                                </td>
                                                <td class="px-6 py-4">
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- table end -->
                        </div>
    </Container>
</section>