---
import { cn } from "@lib/utils";
import Container from "./Container.astro";
import { progress } from "@tailus/themer-progress";
---

<section>
    <!-- styling start - underline when hovering - currently only underlined when clicking, not when hovering?-->
    <style>
        a:hover {
            text-decoration: underline;
        }
    </style>
    <!-- styling end -->
    <Container>
        <!-- big heading -->
        <div class="text-center">
            <h2
                class="text-3xl text-gray-950 dark:text-white font-semibold md:text-4xl"
            >
                Course Schedule
            </h2>
            <p class="mt-4 text-gray-600 dark:text-gray-400">
                H4Sci is organized in four blocks of two half-day sessions.
            </p>
        </div>
        <!-- small heading -->
        <div class="mt-12 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
            <div>
                <h2
                    class="text-gray-950 dark:text-white text-2xl font-semibold"
                >
                    Block 1 - Getting Started
                </h2>
            </div>
            <div class="m-12 max-w-3xl w-full mx-auto">
                <!-- table start -->
                <div class="relative overflow-x-auto">
                    <table
                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
                    >
                        <thead
                            class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-[--card-dark-bg] bdark:text-gray-400"
                        >
                            <tr>
                                <th scope="col" class="px-6 py-3"> Session </th>
                                <th scope="col" class="px-6 py-3"> </th>
                                <th scope="col" class="px-6 py-3"> </th>
                                <th scope="col" class="px-6 py-3"> Slides </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                            >
                                <th
                                    scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                >
                                    The Big Picture
                                </th>
                                <td class="px-6 py-4">
                                    Thursday, September 26
                                </td>
                                <td class="px-6 py-4"> 10:00 - 1:00 p.m. </td>
                                <td class="px-6 py-4">
                                    <a
                                        href="https://h4sci.github.io/h4sci-course/block_1_session_1_classopen.html"
                                        target="_blank"
                                        >Intro,
                                    </a>
                                    <a
                                        href="https://h4sci.github.io/h4sci-course/block_1_session_2_big_picture.html"
                                        target="_blank">Big Picture</a
                                    >
                                </td>
                            </tr>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                            >
                                <th
                                    scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                >
                                    Git & Workflow
                                </th>
                                <td class="px-6 py-4">
                                    Friday, September 27
                                </td>
                                <td class="px-6 py-4"> 10:00 - 2:00 p.m. </td>
                                <td class="px-6 py-4">
                                    <a
                                        href="https://h4sci.github.io/h4sci-course/block_1_session_3_git_requirements.html"
                                        target="_blank">Git Requirements,</a
                                    >
                                    <a
                                        href="https://h4sci.github.io/h4sci-course/block_1_session_4_git_101.html#/title-slide"
                                        target="_blank">Git 101</a
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- table end -->
        </div>
        <!-- small heading -->
        <div class="mt-12 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
            <div>
                <h2
                    class="text-gray-950 dark:text-white text-2xl font-semibold"
                >
                    Block 2 - Programming
                </h2>
            </div>
            <!-- leave the card -->
            <div class="m-12 max-w-3xl w-full mx-auto">
                <!-- table start -->
                <div class="relative overflow-x-auto">
                    <table
                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
                    >
                        <thead
                            class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
                        >
                            <tr>
                                <th scope="col" class="px-6 py-3"> Session </th>
                                <th scope="col" class="px-6 py-3"> </th>
                                <th scope="col" class="px-6 py-3"> </th>
                                <th scope="col" class="px-6 py-3"> Slides </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                            >
                                <th
                                    scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                >
                                    Programming 101
                                </th>
                                <td class="px-6 py-4">
                                    Thursday, October 24
                                </td>
                                <td class="px-6 py-4"> 10:00 - 1:00 p.m. </td>
                                <td class="px-6 py-4">
                                    <a
                                        href="https://h4sci.github.io/h4sci-course/block_2_session_1_r_programming.html"
                                        target="_blank">Programming 101</a
                                    ></td
                                >
                            </tr>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                            >
                                <th
                                    scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                >
                                    Programming with Data
                                </th>
                                <td class="px-6 py-4"> Friday, October 25 </td>
                                <td class="px-6 py-4"> 10:00 - 2:00 p.m. </td>
                                <td class="px-6 py-4">
                                    <a
                                        href="https://h4sci.github.io/h4sci-course/block_2_session_2_programming_w_data.html#/title-slide"
                                        target="_blank">Programming with Data</a
                                    ></td
                                >
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- table end -->
        </div>
        <!-- small heading -->
        <div class="mt-12 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
            <div>
                <h2
                    class="text-gray-950 dark:text-white text-2xl font-semibold"
                >
                    Block 3 - Infrastructure
                </h2>
            </div>
            <!-- leave the card -->
            <div class="m-12 max-w-3xl w-full mx-auto">
                <!-- table start -->
                <div class="relative overflow-x-auto">
                    <table
                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
                    >
                        <thead
                            class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
                        >
                            <tr>
                                <th scope="col" class="px-6 py-3"> Session </th>
                                <th scope="col" class="px-6 py-3"> </th>
                                <th scope="col" class="px-6 py-3"> </th>
                                <th scope="col" class="px-6 py-3"> Slides </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                            >
                                <th
                                    scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                >
                                    A Glimpse of DevOps
                                </th>
                                <td class="px-6 py-4">
                                    Thursday, November 21
                                </td>
                                <td class="px-6 py-4"> 10:00 - 1:00 p.m. </td>
                                <td class="px-6 py-4"> <a href="https://h4sci.github.io/h4sci-course/block_3_session_1_terminology_n_context.html#/title-slide">A Glimpse of DevOps</a> </td>
                            </tr>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                            >
                                <th
                                    scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                >
                                    Static and Dynamic Webprojects
                                </th>
                                <td class="px-6 py-4"> Friday, November 22 </td>
                                <td class="px-6 py-4"> 10:00 - 2:00 p.m. </td>
                                <td class="px-6 py-4"> <a href="https://h4sci.github.io/h4sci-course/block_3_session_2_infra_for_team_projects.html#/title-slide">Static and Dynamic Webprojects</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- table end -->
        </div>
        <!-- small heading -->
        <div class="mt-12 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
            <div>
                <h2
                    class="text-gray-950 dark:text-white text-2xl font-semibold"
                >
                    Block 4 - Teamwork
                </h2>
            </div>
            <!-- leave the card -->
            <div class="m-12 max-w-3xl w-full mx-auto">
                <!-- table start -->
                <div class="relative overflow-x-auto">
                    <table
                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
                    >
                        <thead
                            class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
                        >
                            <tr>
                                <th scope="col" class="px-6 py-3"> Session </th>
                                <th scope="col" class="px-6 py-3"> </th>
                                <th scope="col" class="px-6 py-3"> </th>
                                <th scope="col" class="px-6 py-3"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                            >
                                <th
                                    scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                >
                                    Team Project Coaching
                                </th>
                                <td class="px-6 py-4">
                                    Thursday, December 5
                                </td>
                                <td class="px-6 py-4"> 10:00 - 1:00 p.m. </td>
                                <td class="px-6 py-4"> </td>
                            </tr>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                            >
                                <th
                                    scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                >
                                    Team Project Coaching
                                </th>
                                <td class="px-6 py-4"> Friday, December 6 </td>
                                <td class="px-6 py-4"> 10:00 - 2:00 p.m. </td>
                                <td class="px-6 py-4"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- table end -->
        </div>
    </Container>
</section>
