---
import CourseMaterialCard from "./CourseMaterialCard.astro";
import Container from "./Container.astro";
---

<section id="features" class="scroll-mt-24">
    <Container>
        <div class="mb-12">
            <h2 class="text-gray-600 dark:text-white font-bold text-2xl sm:text-3xl md:text-3xl  mb-4">Video Series: A Guide to Learning Git</h2>
                <p class="text-gray-600 dark:text-gray-400 pb-4">
                    This video series will guide you through the most basic git commands and help you <b>overcome the most frequent mistakes</b> beginners make, and how to prevent and overcome these! Since learning git is all about practice, be sure to <b>try there exercises</b>  out on your own! 
                </p>
        </div>
        <div class="space-y-4 sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:space-y-0 sm:gap-4">
            <CourseMaterialCard
                imagePath = "/thumbnail-matt.png"
                heading ="Introduction"
                description="What is git? Why learn it? How do these videos fit in with your git journey? All these questions will be answered here"
                videoLink = {[
                    {title: "Introduction", url: "https://h4sci.github.io"},
                    {title: "Timeline", url: "https://h4sci.github.io"}
                ]}
                />
            <CourseMaterialCard
                imagePath = "/thumbnail-screen.png"
                heading ="Focus: Local"
                description="Understanding how the most basic git commands work - from git init to git commit - on an intuitive, conceptual level, locally."
                videoLink = {[
                    {title: "Checkout, Add", url: "https://h4sci.github.io"},
                    {title: "Commit", url: "https://h4sci.github.io"}
                ]}
                />
            <CourseMaterialCard
                imagePath = "/thumbnail-matt.png"
                heading ="SSH Key Pairs"
                description="Connecting to Git like a pro! Using SSH key pairs, you can securely connect to your repositories with ease."
                videoLink = {[
                    {title: "Conceptual", url: "https://h4sci.github.io"},
                    {title: "Practical", url: "https://h4sci.github.io"}
                ]}
                />
            <CourseMaterialCard
                imagePath = "/thumbnail-screen.png"
                heading ="Practical Walkthrough"
                description="Practicing the conceptual commands learned on a simple repository, learning how to stage, commit and push changes."
                videoLink = {[
                    {title: "Add, Commit", url: "https://h4sci.github.io"},
                    {title: "Status, Commit", url: "https://h4sci.github.io"}
                ]}
                />
             <CourseMaterialCard
                imagePath = "/thumbnail-together.png"
                heading ="Git Collaboration"
                description="Understanding how collaboration on repositories works in git, working through a simple repository"
                videoLink = {[
                    {title: "Conceptual", url: "https://h4sci.github.io"},
                    {title: "Practical: cloning, changing, committing", url: "https://h4sci.github.io"}
                ]}
                />
             <CourseMaterialCard
                imagePath = "/thumbnail-minna.png"
                heading ="Conflicts & (Feature) Branches"
                description="How do conflicts happen? How do you solve them and work in a conflict avoidant way? All these questions will be answered through these videos"
                videoLink = {[
                    {title: "Individual Files", url: "https://h4sci.github.io"},
                    {title: "Same Files", url: "https://h4sci.github.io"},
                    {title: "Branch Creation", url: "https://h4sci.github.io"},
                    {title: "Pull Requests", url: "https://h4sci.github.io"},

                ]}
                />
            </div>
        </div>
    </Container>
</section>