---
import BaseHead from "../components/BaseHead.astro";
import AppFooter from "../components/AppFooter.astro";
// import Navbar from "@components/navbar/navbar.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body class="overflow-x-hidden bg-white dark:bg-gray-950">
    <!-- <Navbar /> -->
    <AppHeader />
    <slot />
    <AppFooter />
  </body>
</html>
